
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Atau ganti dengan font Google Fonts jika ada */
}

:root {
    --bg-black: #121212;       
    --bg-dark-gray: #1F1F1F;  
    --primary-btn: #333333;    
    --primary-btn-hover: #444444; 
    --bg-main: #181A1C; 
    --bg-card: #22282A;
    --primary-blue: #0F1E93;
    --text-white: #FFFFFF;
    --text-gray: #C1C2C4;
}

body {
    background-color: var(--bg-main);
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-black);
    color: var(--text-white);
}
